# Data Description
- Author: 王皓
- Date first created: 20241011
- Background: 此資料為萃取原始資料的變項並做特徵工程後所得出
- Unit of observation:4095
- Sample period:112 年 6 月至 7 月
- Known issues:
- 可能會有控制變數沒被包含進來
- 一樣可能會有抽樣偏誤
- Definition for each variable: 
    - scale     : 公司規模（人數）
    - a1        :112年5月對服務單位之滿意情形：(1)工作場所(舒適、安全、衛生、空氣品質等)
    - a2        :112年5月對服務單位之滿意情形：(2)工作時數
    - a3        :112年5月對服務單位之滿意情形：(3)工資
    - a4        :112年5月對服務單位之滿意情形：(4)工作負荷量
    - a5        :112年5月對服務單位之滿意情形：(5)性別工作平等(禁止性別歧視、防治職場性騷擾、促進工作平等措施)
    - a6        :112年5月對服務單位之滿意情形：(6)主管對員工的關切與照顧
    - a7        :112年5月對服務單位之滿意情形：(7)同事間的相處與友誼
    - a8        :112年5月對服務單位之滿意情形：(8)員工申訴管道之暢通
    - a9        :112年5月對服務單位之滿意情形：(9)人事考核升遷制度
    - a10       :112年5月對服務單位之滿意情形：(10)員工教育訓練
      - a11     :112年5月對服務單位之滿意情形：(11)無障礙環境(無障礙設施設備、輔具等)
    - a12       :112年5月對服務單位之滿意情形：(12)整體工作滿意度 (我們的Y變項)
    - b1a       :您最近一年有延長工時(加班)工作，近一年加班時數平均每月幾小時?
    - b6        :您最近一年有沒有下班後或假日接獲服務單位以電話、網路、手機App或LINE等任何形式交辦工作?
    - b10       :您目前的工作是否可以遠距工作(不用到服務單位執行工作)?
    - b13       :您同不同意「您的工作有良好的職涯發展前途」?
    - b14       :您覺得未來6個月您有可能會失業嗎?
    - b16       :您對於目前工作時數的看法
    - c1        :您最近一年內，有沒有參加教育訓練(含服務單位提供之訓練)?
    - d3        :您認為目前工作與休閒的平衡狀況?
    - e1        :您在工作上有沒有遭遇到困擾?
    - f1        :您112年5月時的工作型態
    - f2        :您的性別
    - f3        :您的年齡
    - f5        :您的教育程度(已取得畢業證書之最高學歷)
    - f7        :您112年5月時的工作收入
    - f8a_month :您在目前服務單位之年資共有幾年（月）
    - f8b_month :開始工作至今年(112年)5月間，總工作年資共有幾年 (月)
    - f9        :您工作地點所在縣市

In [1]:
import pandas as pd

## Change for Your Own Data

In [21]:
input_data_file = "/Users/wanghao/fa_econ_group6/fa-25-econ-5166-group-6/data/processed/processed_data112.csv"

In [23]:
df = pd.read_csv(input_data_file)

### Sample

In [25]:
df.head(10)

,scale,a1,a2,a3,a4,a5,a6,a7,a8,a9,...,d3,e1,f1,f2,f3,f5,f7,f9,f8a_month,f8b_month
0,4,3,3,3,2,3,3,3,4,4,...,2,2,1,2,4,4,2,1,6.0,60
1,3,2,2,2,3,3,3,2,3,2,...,2,2,1,2,6,4,4,19,43.0,192
2,1,1,1,1,2,2,1,2,2,2,...,3,2,1,1,9,3,4,9,238.0,312
3,4,2,1,2,2,2,1,1,3,3,...,1,2,1,1,7,5,5,13,100.0,146
4,1,1,1,1,1,1,1,1,1,1,...,3,2,2,2,6,3,1,19,240.0,240
5,1,1,2,2,2,1,1,2,1,3,...,2,2,1,2,4,2,2,3,145.0,145
6,5,3,3,3,3,3,3,3,3,3,...,1,2,1,1,7,4,4,9,217.0,217
7,5,2,2,3,2,2,2,2,2,2,...,2,2,1,1,9,3,3,16,3.5,370
8,4,3,4,4,5,2,2,3,3,3,...,1,2,1,1,6,4,4,1,95.0,216
9,5,3,4,2,3,3,3,3,3,3,...,2,2,1,2,9,4,4,13,312.0,396

### Summary Stats

In [27]:
df.describe()

,scale,a1,a2,a3,a4,a5,a6,a7,a8,a9,...,d3,e1,f1,f2,f3,f5,f7,f9,f8a_month,f8b_month
count,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000,...,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000,4095.000000
mean,2.802442,1.886935,1.929426,2.262515,2.245665,1.747009,1.888645,1.799023,2.007326,2.277411,...,2.677167,1.317949,1.083516,1.520147,5.795360,3.342369,3.338217,10.128938,100.311233,198.801465
std,1.405827,0.794561,0.797315,0.943027,0.894927,0.731038,0.863585,0.748814,0.898593,0.982114,...,0.585865,0.465736,0.276695,0.499655,2.293473,1.099140,1.260478,6.264210,107.611858,130.544800
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,...,2.000000,1.000000,1.000000,1.000000,4.000000,2.000000,3.000000,4.000000,21.000000,88.000000
50%,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,3.000000,1.000000,1.000000,2.000000,6.000000,4.000000,3.000000,10.000000,60.000000,180.000000
75%,4.000000,2.000000,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,3.000000,3.000000,...,3.000000,2.000000,1.000000,2.000000,8.000000,4.000000,4.000000,16.000000,142.000000,298.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,4.000000,2.000000,2.000000,2.000000,12.000000,6.000000,7.000000,20.000000,578.000000,578.000000

### Assertions

In [38]:
# Write assertions here—conditions that should always hold in the data.
# Use them to demonstrate that you have carefully checked the data’s correctness.
print(df.isnull().sum())       # 顯示每欄的缺失值數量
print(df.isnull().sum().sum()) # 顯示整份資料的缺失總數

for col in df.columns:#檢查每個變項的值域
    print(col, ":", df[col].unique())

scale        0
a1           0
a2           0
a3           0
a4           0
a5           0
a6           0
a7           0
a8           0
a9           0
a10          0
a11          0
a12          0
b1a          0
b6           0
b10          0
b13          0
b14          0
b16          0
c1           0
d3           0
e1           0
f1           0
f2           0
f3           0
f5           0
f7           0
f9           0
f8a_month    0
f8b_month    0
dtype: int64
0
scale : [4 3 1 5 2]
a1 : [3 2 1 4 5]
a2 : [3 2 1 4 5]
a3 : [3 2 1 4 5]
a4 : [2 3 1 5 4]
a5 : [3 2 1 4 5]
a6 : [3 1 2 4 5]
a7 : [3 2 1 4 5]
a8 : [4 3 2 1 5]
a9 : [4 2 3 1 5]
a10 : [4 2 1 3 5]
a11 : [3 2 1 4 5]
a12 : [3 2 1 4 5]
b1a : [  0  12  25  40  35   4   2  30  16  24  20  22   1   5  10   8   3   9
  15   6  36  50  54  60  46  32  43 100  90  33  44  18  19  41  11  17
  14  21  48  28  13  23   7  55  37  38  26  39  27  42  74  70]
b6 : [1 2]
b10 : [0 1]
b13 : [4 1 2 3 5]
b14 : [3 4 2 5 1]
b16 : [3 1 2]
c1 : [1 2]
d3 : [2 3 1 4]
e1 : [2 1]
f1 : [1 2]
f2 : [2 1]
f3 : [ 4  6  9  7  3  5  8  2 10  1 11 12]
f5 : [4 3 5 2 6 1]
f7 : [2 4 5 1 3 7 6]
f9 : [ 1 19  9 13  3 16  2 20  7  4  8 10  5 11  6 17 18 14 12 15]
f8a_month : [  6.   43.  238.  100.  240.  145.  217.    3.5  95.  312.  185.  114.
 170.   42.    1.  248.   88.    8.   15.  274.  137.  315.  133.   21.
  12.  300.   25.   70.   48.   53.    5.   30.  200.   37.   24.  122.
 318.   17.   13.  101.   84.    3.   83.  183.   49.  138.   27.  124.
 198.    9.   98.  313.  201.   35.   94.   97.   79.   32.  144.   26.
  11.  215.  131.  173.   67.   18.   36.   29.   62.  182.   16.  125.
  82.   19.   50.  103.  251.  118.   47.   22.   46.  307.   14.   89.
  38.   55.  117.   87.   10.   99.  202.  102.   86.  193.  396.   65.
 478.   75.  155.   90.  180.  121.   51.  330.   41.  241.  158.   72.
 269.  212.  141.  324.  160.   23.  139.  429.  262.  303.  275.  132.
  74.    4.    7.   56.  120.   73.   31.  327.   80.   57.  149.  325.
  20.   60.  298.  189.  104.  165.  150.   45.   28.  177.   40.  156.
 309.  166.   85.  387.   58.  153.    2.  252.  207.  321.  184.  253.
  93.   71.  140.  110.   39.  245.   81.  176.   76.  108.  157.  285.
 353.   69.  301.   52.  162.  191.  126.  113.   96.   66.  220.  194.
 228.  123.  323.  119.  304.  205.  270.  208.  317.  258.  179.  115.
 277.  393.  128.  232.  106.  276.  109.   33.  432.   34.  116.  154.
 218.  204.  169.  223.  178.  111.  468.  311.  400.   54.  192.  334.
 295.  322.  294.  425.  129.  299.  231.  314.   61.  374.  234.  510.
 105.  197.  206.  237.   77.   44.  343.  371.  187.   63.  172.  210.
 336.  360.   59.  250.  112.  329.  233.  230.  107.  333.  271.  219.
 332.  352.  284.  487.  221.  222.  302.  242.  151.  373.  414.  168.
  91.  265.  171.  209.  406.  161.   64.  402.   92.  504.  328.  391.
 190.  305.  288.  216.  455.  450.  551.  539.  196.  143.  264.  135.
 338.  147.  359.  244.  293.  136.  254.   78.  249.  246.  159.  395.
 286.  310.  127.  225.  195.  174.  366.  527.  381.  378.  229.  226.
 146.  349.  397.  263.   68.  279.  408.  289.  482.  428.  469.  465.
 186.  134.  320.  152.  239.  411.  420.  348.  291.  442.  480.  416.
 440.  339.  364.  392.  331.  282.  142.  495.  199.  553.  361.  214.
 507.  444.  354.  163.  280.  433.  481.  372.  130.  292.  266.  272.
 181.  418.  296.  188.  290.  362.  492.  377.  456.  297.  399.  363.
 267.  384.  370.  308.  506.  347.  498.  357.  278.  369.  256.  281.
 148.  164.  509.  213.  514.  273.  422.  268.  259.  167.  211.  287.
 398.  484.  368.  431.  341.  467.  394.  346.  523.  520.  437.  486.
 503.  528.  236.  526.  496.  243.  383.  491.  564.  404.  430.  426.
 144.5 385.  375.  389.  452.  538.  423.  471.  501.  247.  255.  342.
 306.  235.  409.  405.  485.  419.  516.  578.  335.  224. ]
f8b_month : [ 60 192 312 146 240 145 217 370 216 396 233 126 302 144  61 263 100 361
 156 274 137 241 321 186  15 180 129 300 265 336 125 120 108 200  37 297
 214 324 228 113 269 360 142  13  97 168  12 218  72  87 160 356 206  98
 349 456  35  94 314 318  32 130 215 264 305 158 117 124  48 141 182 174
 245  95 229 227 408 252 288 307 204 114  74  96 147 213 191  20 202 132
 276  54 468  36 478 230  84 235 253 331 295 267 348 382 236 225 368 403
 429 123 394 389  26 275  85   7  19  59 135  49  73 306  91 357 136 110
  42  81 194 187 334 150  38 246 492 282  25  79  58 112 401 461 122 404
 313 185  70  90 103 481  47   2  56 242 420  23 377 153 248 301 333  10
 277  53  92  16  65 162  82 384  34 310  44  78  30   3 442 199  69  41
 350 149  22 205  45 121  71 222 104 459 157 207 323 317 131  63 128  57
   9 271 256 337  50 258 474 339 152  46 325  17 292 386 243 173 179 109
 138 432 154 175 178  93 311 498 351 458 352 198 365 484 341 449 208 390
 316 362  52 338 510 105 197 387 101 279  27  88  66 431 272  67  62  43
  33 344 140 371  51 151 133 320 226  24  18 290 115  31  29 181  14 335
  55 107 134 438  89  83 332 398 255 487 298 284  28 345 139 445 167 210
 326 414 385 444 278 413 220 454 402 221 504 328 391   8 270 190 212 176
 455 450 188 366 159 551 539 260 183  77 346  86 285 193  39 407 118 219
 309 254 170 273 223 372 395 262 286 143 296 169 238  21 327  99 527 155
  64 342 119 303 322 392 234 435  75  76 388 410 111 315 195 451   4 482
 428 469 127 465  80 231 329 281 480 266 446 490 483 416 165 501 421 291
 163 209 540 509   5  11 507 495 397 576 542 554 528 239 425 164 330 308
 106   6 505 476 422 426  40 355 383 224 375 102 379 172 232 409 244 470
 161 354 406 506 516 552 423 512 433 381 304 376  68 367 373 434 294 116
 577 353 494 340 250 289 359 399 343 177 268 364 467 203 518 530 486 550
 526 418 491 564 514 430 347 319 257 475 237 201 247 536 378 485 452 538
 471 515 280 293 171 251 578 405 477 412 437 189 380]